<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Venda</title>
</head>
<body>
    <h1>Realizar Venda</h1>

    <!-- Exibir mensagens de sucesso ou erro -->
    {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h3>Adicionar Produto ao Carrinho:</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar ao Carrinho</button>
    </form>

    <br><br>
    
</body>
</html>
